.main{
  width: 100%;
}
.main-wrapper{
  width: 100%;
  padding: 10px;
}
.first-section{
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
/* insert-absence{
    width: 100%;
}
.assign-prof-classe{
    width: 65%;
    margin-left: 10px;
} */
.classes{
  width: 49%;
  background: var(--background-color);
  padding: 20px;
  height: 300px;
  max-height: 400px;
  border-radius: 12px;
  margin-left: 10px;
}
.absence{
  width: 48%;
  background: var(--background-color);
  padding: 20px;
  height: 310px;
  max-height: 400px;
  border-radius: 12px;
}
@media only screen and (max-width: 800px) {
  .add-prof{
    width: 100%;
  }
  .assign-prof-classe , .classes{
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .first-section{
    display: block;
  }
  .absence{
    width: 100%;
    margin-top: 10px;
  }
}
