
<!--<div class="main">-->
<!--    <div class="main-wrapper">-->
<!--        <div class="first-section">-->
<!--            <div class="insert-absence">-->
<!--                <app-dash-admin-insert-absence></app-dash-admin-insert-absence>-->
<!--            </div>-->

<!--            <div class="absence">-->
<!--                &lt;!&ndash; <app-dash-admin-get-profs></app-dash-admin-get-profs> &ndash;&gt;-->
<!--                <app-dash-admin-get-absences></app-dash-admin-get-absences>-->
<!--            </div> -->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
